.homeContainer {
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.homeContainer > * {
  padding: 1em;
  border-radius: 2em;
}
.boxOne {
  margin-top: 50px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  word-wrap: break-word;
  position: relative;
  font-weight: 700;
  line-height: 1.2;
  height: 800px;
  width: 800px;
}
.headerHomePage {
  color: #488df4;
  font-family: Oswald, sans-serif;
  font-size: 3.75rem;
  margin: 62px 30px 0;
  /* text-align: center; */
}
h1.headerHomePage {
  margin-left: 150px;
  width: 500px;
}
.boxTwo {
  margin-top: 50px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.techGuy {
  width: max-content;
}
.boxThree {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #38c4c1;
}
.boxThree > img {
  margin-top: 25px;
  width: 500px;
}
.boxFour {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #feca02;
}
.boxFour > img {
  width: 300px;
}
.boxFive {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #fe7ec9;
}
.boxFive > img {
  margin-top: 80px;
  width: 500px;
}
.boxSix {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #488df4;
}
.boxSix > img {
  width: 400px;
}
.rounded {
  border-top: 8px solid #808080;
  /* border-radius: 5px; */
  width: 50px;
}
.boxSeven {
  text-align: center;
  width: 800px;
}
.boxSeven > h4 {
  color: #4d4d4d;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 1024px) {
}
