.footerContainer {
  display: flex;
  position: relative;
  bottom: 0;
  background-color: #5c89c3;
  text-align: center;
  width: 100%;
  color: #fff;
}
button {
  background: none;
  border: none;
  color: #fff;
}
.emailForm {
  visibility: hidden;
}

.email ul li svg, .address ul li svg {
    margin-right: 5px;
}

.address-nav, .email-nav {
    padding: 20px 60px;
}

.email, .address {
  justify-content: center;
  flex-grow: 2;
  color: #fff;
  border-radius: 6px;
}

@media only screen and (min-width: 411px) {
  .footerContainer {
    flex-direction: column;
  }
  .map {
    height: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .footerContainer {
    flex-direction: row;
  }
  .map {
    height: 50px;
  }
}
